.container{
    width: 28vw;
    margin: 28px 0px 30px 143px;
    
}

.about-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
}
img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides1 {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    /* background-color: #222; */
    padding: 3px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  .slider-contents{
    padding: 30px;
    width: 27vw;
    margin: 70px;
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #9B3DE3;
    font-weight: bold;
    position: relative;
    left: 17px;
  }
  .slider-contents h2{
    color: #7830B0;
  }
  .slider-contents p{
    margin-top: 15px;
    margin-left: 2px;
    width: 28vw;
  }
  hr{
        position: relative;
    width: 50%;
    left: 21vw;
    top: 1vh;
    border: 2px solid #a170c723;
    background-color: #a170c723;
  }
