*{
    margin: 0;
    padding: 0;
}
header{
    padding: 19px 37px;
    /* border: 2px solid red; */
    height: 26px;
}
.logo p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
.logo span{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
}
nav{
    display: flex;
}
nav ul{
    list-style-type: none;
    margin: 9px 11em;
    
}
nav ul li {
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0 11px;
}
nav ul li a:hover{
    font-weight: bold;

}
.dark{
    padding: 6px 15px;
    margin: 8px;
    position: absolute;
    right: 18em;
    cursor: pointer;
}
main{
    min-height: calc(90vh - 26px - 6vh);
}
.first-container{
    display: flex;
    padding: 19px 37px;
}
.btn-contact{
    padding: 10px 18px;
    margin: 5px;
    background-color: #8a36ca;
    color: white;
    border: none;
    border-radius: 4px;
    
}
.btn-contact:hover{
    
    background-color: #8a36ca;
    font-weight: bold;
    cursor: pointer;
    
}
.my-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 36vw;
    /* border: 2px solid red; */
    padding: 6em 2em;

}
/* social media  section */
/* .socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.icons{
    right: 61em;
    position: relative;
    margin: 4px;
    padding: 7px 11px 27px 0px;
    top: 5em;
}

/* .my-image{
    position: relative;
    bottom: 0.5em;
    left: 2em;
} */

.learnMore{
    display: flex;
    background-color:#a273c60f;
}
.learnMoreText{
    width: 40%;
    /* background-color: red; */
    text-align: center;
    padding: 41px;
    

}
.learnMoreText h2{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size:20px;
    font-weight: bold;
    padding-bottom: 30px;
}
.learnMoreText p{
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size:17px;
}
.logos{
    display: flex;
    width: 60%;
    /* background-color: blue; */
}
.home-Logo{
        padding: 20px 15px 2px 3vw;
}
.home-Logo img{
    width: 10vw;
}
.home-Logo p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;

}


footer{
    text-align: center;
    
    
}
footer p{
    
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 6vh;
    padding: 10px 0px;
    
}
footer span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}